/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#lst {
	font-family: times;
}

body {
	background-image: url('/assets/back32.jpg');

}



#inst {
	color: #A80000;
	font-size: 18px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 12px;
	padding-right: 30%;

}

#inst1 {
	color: #A80000;
	font-size: 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 12px;
	padding-right: 30%;
}

#trk {
	padding-left: 10px;
}

#edt {
	padding-left: .8%;
}

#nm {
	font-size: 18px;
	font-weight: bold;
}

/*#ige {
	text-align: 5px;
}
*/
